@charset "UTF-8";
@import 'common/base';
@import 'common/font';
@import 'common/variables';
@import 'common/mixin';
@import 'common/media';

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index: 70;
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin:0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .clear {
        .logo {
            display: inline-block;
            height: 50px;
            margin: 0;
            a {
                display: inline-flex;
                height: 100%;
                align-items: center;
                justify-content: center;
                img {
                    width: 143px;
                }
            }
        }
        .gnb {
            .cls_gnb {
                left: auto;
                right: 25px;
            }
        }
        &::after {
            display: none;
        }
    }
}

.gnb {
    a {
        line-height: 1;
    }
}

.btn-default {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 27px;
    padding: 0 30px;
    transition: 0.14s ease;

    &__text {
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        line-height: 38px;
        color: #fff;
        transition: 0.14s ease;
    }
}

.right-box {
    display: flex;
    align-items: center;
    height: 50px;
}


.util {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn {
    display: inline-block;
}

.btn-search {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/icons/icon_search.svg") center / auto no-repeat;
    font-size: 0;
}

.btn-allmenu {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/icons/icon_allmenu.svg") center / auto no-repeat;
    font-size: 0;
}

.footer {
    height: auto;
    padding: 30px 0 0;
    background-color: #fafafa;
    &.sub {
        background-color: #fafafa;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
        box-sizing: border-box;
    }
    &__nav {
        font-size: 0;
        li {
            display: inline-block;
            padding: 8px 0;
            margin-right: 18px;
            &:last-child {
                margin-right: 0;
            }
            a {
                display: block;
                font-size: 14px;
                line-height: 1;
                letter-spacing: -0.24px;
                color: #111;
            }
        }
    }
    &__top {
        box-sizing: border-box;
    }
    &__bottom {
        padding: 30px 0 37px;
        box-sizing: border-box;
    }
    &__info {
        > ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    &__tit {
        font-size: 14px;
        font-weight: 600;
        color: #1428A0;
        line-height: 1;
        letter-spacing: -0.28px;
        white-space: nowrap;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        ul {
            font-size: 0;
            li {
                display: inline-block;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: -0.28px;
                color: #666;
                margin-top: 10px;
                &:first-child {
                    margin-top: 0;
                }
                &.footer__column {
                    display: flex;
                    flex-direction: column;
                    .footer__text {
                        padding-right: 0;
                        margin-right: 0;
                        margin-top: 5px;
                        &:first-child {
                            margin-top: 0;
                        }
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &__text {
        position: relative;
        display: inline-block;
        padding-right: 9px;
        margin-right: 8px;
        box-sizing: border-box;
        &::before {
            content:'';
            position: absolute;
            top: 3px;
            right: 0;
            display: inline-block;
            width: 1px;
            height: 10px;
            background-color: #dadada;
        }
        &:last-child {
            padding-right: 0;
            margin-right: 0;
            &::before {
                display: none;
            }
        }
    }
    &__copyright {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.28px;
        color: #666;
        box-sizing: border-box;
    }
}

.family-site {
    position: relative;
    button {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 0 40px 0 20px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: #fff;
        font-size: 14px;
        line-height: 45px;
        letter-spacing: -0.28px;
        text-align: left;
        box-sizing: border-box;
        &::after {
            content:'';
            position: absolute;
            top: 50%;
            right: 20px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url("../images/icons/icon_arrow_blk.svg") center / auto no-repeat;
            transform: translateY(-50%);
            transition: 0.14s ease;
        }
        &.active {
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    ul {
        display: none;
        position: absolute;
        bottom: 50px;
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ececec;
        border-radius: 5px;
        box-sizing: border-box;
        li {
            width: 100%;
            border-bottom: 1px solid #ececec;
            &:last-child {
                border-bottom: 0;
            }
            a {
                display: block;
                font-size: 14px;
                color: #666;
                padding: 10px;
                box-sizing: border-box;
            }
        }
    }

    
}

// @media (min-width: 750px) {
// 	.cm_search_wrap > .inner {
// 		zoom: 1;
// 	}
	
// 	.header {
// 		zoom: 1;
// 	}
	
// 	.wrapper_inner.sub {
// 		zoom: 1;
// 	}
	
// 	.wrapper_inner.sub.prg {
// 		zoom: 1;
// 	}	
	
// 	.wrapper_inner.sub.prg 	.mCustomScrollbar {
// 		zoom: 1;
// 	}
	
// 	#footer,
// 	.topbtn {
// 		zoom: 1;
// 	}

// }


/*cm_assign */
.assign_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: #fff;
  z-index: 200;
  overflow: hidden;
  opacity: 0;
}
.assign_wrap .assign_boxc {
  width: calc(100% - 90px);
  opacity: 0;
  background: #fff;
  padding: 90px 45px 0px 45px;
}
.assign_wrap .assign_boxc > .tit {
  font-size: 35px;
  color: #222;
  text-align: center;
}
.assign_wrap .assign_boxc .assign_list {
  width: 100%;
  margin: 38px auto 0 auto;
}
.assign_wrap .assign_boxc .assign_list > div > a{
  background: #fff;
  width: 100%;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  line-height: 58px;
  text-align: center;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.assign_wrap .assign_boxc .assign_list > div > a {
  display: block;
  width: 100%;
  height: 100%;
}
.assign_wrap .assign_boxc .assign_list > div + div {
  margin-top: 20px;
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico {
  position: absolute;
  width: 25px;
  height: 28px;
  top: 50%;
  margin-top: -14px;
  left: 18px;
  transition: all ease .2s;
  background-size: 25px 28px;
  background-repeat: no-repeat;
  background-position: center;
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico.rico1 {
  background-image: url(https://samsungstf.org/ssrfPr/mobile/images/common/assign_ico_01.png);
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico.rico2 {
  background-image: url(https://samsungstf.org/ssrfPr/mobile/images/common/assign_ico_02.png);
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico.rico3 {
  background-image: url(https://samsungstf.org/ssrfPr/mobile/images/common/assign_ico_03.png);
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico.rico4 {
  background-image: url(https://samsungstf.org/ssrfPr/mobile/images/common/assign_ico_04.png);
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico.rico5 {
  background-image: url(https://samsungstf.org/ssrfPr/mobile/images/common/assign_ico_05.png);
}
.assign_wrap .assign_boxc .assign_list > div > a span.text {
  color: #222;
  font-size: 20px;
  transition: all ease .2s;
}

.assign_wrap .assign_boxc .assign_list > div > p {
    position: relative;
    margin-top: 10px;
    padding-left: 10px;
    font-family: "Pretendard", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #444;

    &::before {
        content:'';
        position: absolute;
        top: 7px;
        left: 0;
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #CDCDCD;
    }
}

.assign_wrap .assign_boxc .clsbtn_r {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 17px;
  left: 25px;
  background: url(https://samsungstf.org/ssrfPr/mobile/images/icon/gnb_cls.png);
  background-size: 100%;
  z-index: 125;
}