<!DOCTYPE html>
<html lang="ko">
    <%- include('./include/head.html') %>
    <body>
        <div class="wrap">
            <div class="container">
                <%- include('./include/header.html') %>
                <main>
                    <div class="kv-container">
                        <div class="main-kv">
                            <div class="main-kv__inner">
                                <div class="main-kv__view">
                                    <div class="main-kv__slider">
                                        <div class="main-kv__slide">
                                            <div class="main-kv__content">
                                                <div class="main-kv__title">
                                                    <h3>
                                                        과학기술은 미래를 만들고,<br />
                                                        그 미래는 우리의<br />
                                                        내일이 됩니다.
                                                    </h3>
                                                    <h2>한국 과학기술 혁신과 인류 발전을 위한 사회공헌사업</h2>
                                                </div>
                                            </div>
                                            <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                        </div>
                                        <div class="main-kv__slide">
                                            <div class="main-kv__content">
                                                <div class="main-kv__title">
                                                    <h3>
                                                        Science <br />
                                                        프로그램을 소개합니다
                                                    </h3>
                                                </div>
                                            </div>
                                            <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                        </div>
                                        <div class="main-kv__slide">
                                            <div class="main-kv__content">
                                                <div class="main-kv__title">
                                                    <h3>
                                                        Technology <br />
                                                        프로그램을 소개합니다
                                                    </h3>
                                                </div>
                                            </div>
                                            <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="main-kv__control"></div>
                                </div>
                                <div class="main-kv__menu">
                                    <div class="main-kv__left">
                                        <div class="card">
                                            <ul class="card__list">
                                                <li class="card__item card__item--01">
                                                    <div class="card__inner">
                                                        <div class="card__sub">과제응모</div>
                                                        <div class="card__menu">
                                                            <a href="/mobile/researcher/listResearcher.do?searchResearchProgram=1|0001">Science</a>
                                                            <a href="/mobile/researcher/listResearcher.do?searchResearchProgram=2|0002">Technology</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="card__item card__item--02">
                                                    <div class="card__inner">
                                                        <div class="card__sub">2024년 주요 일정</div>
                                                        <div class="card__menu">
                                                            <a href="/mobile/newsroom/listNewsroom.do?searchGubun=A">View More</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="main-kv__right">
                                        <nav class="main-kv__nav">
                                            <ul>
                                                <li>
                                                    <a href="../intro/business.do">
                                                        <div class="main-kv__icon">
                                                            <img src="../resources/assets/images/icons/icon_docs.svg" alt="" />
                                                        </div>
                                                        <div class="main-kv__text">사업소개</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../program/basic.do">
                                                        <div class="main-kv__icon">
                                                            <img src="../resources/assets/images/icons/icon_talk.svg" alt="" />
                                                        </div>
                                                        <div class="main-kv__text">프로그램 소개</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../researcher/listResearcher.do?searchResearchProgram=1|0001">
                                                        <div class="main-kv__icon">
                                                            <img src="../resources/assets/images/icons/icon_person.svg" alt="" />
                                                        </div>
                                                        <div class="main-kv__text">과제&연구자</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../newsroom/listNewsroom.do?searchGubun=A">
                                                        <div class="main-kv__icon">
                                                            <img src="../resources/assets/images/icons/icon_volume.svg" alt="" />
                                                        </div>
                                                        <div class="main-kv__text">공지사항</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('./include/footer.html') %>
            </div>
        </div>
    </body>
</html>
