@charset "UTF-8";
@import 'common/base';
@import 'common/font';
@import 'common/variables';
@import 'common/mixin';
@import 'common/media';


.btn {
    display: inline-block;
}

.btn-default {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 27px;
    padding: 0 46px;
    transition: 0.14s ease;

    &__text {
        display: inline-block;
        font-size: 18px;
        font-weight: 400;
        line-height: 52px;
        color: #fff;
        transition: 0.14s ease;
    }

    &:hover {
        background-color: #fff;
        .btn-default__text {
            color: #000;
        }
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    font-family: "Pretendard", "맑은 고딕", "Malgun Gothic", sans-serif;
    z-index: 41;
    
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1760px;
        width: 100%;
        margin:0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }

    &::after {
        content:"";
        position: absolute;
        top: 100px;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #eee;
        z-index: 1;
    }

    
}

.dim {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 11;
    transition: 0.24s ease;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.logo {
    display: inline-block;
    height: 100px;
    a {
        display: inline-flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        img {
            width: 178px;
        }
    }
}

.gnb {
    &__list {
        display: flex;
        > li {

            > a {
                position: relative;
                display: block;
                padding: 0 51px;
                font-size: 18px;
                font-weight: 500;
                line-height: 100px;
                text-align: center;
                letter-spacing: -0.36px;
                box-sizing: border-box;
                &::before {
                    content:'';
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 2px;
                    transform: translateX(-50%);
                    background-color: #00117A;
                    transition: 0.24s ease;
                }
            }
            &.active {
                > a {
                    color: #1428A0;
                    &::before {
                        width: 100%;
                    }
                }
            }
        }
    }
    .depth2 {
        display: none;
        flex: 1;
        box-sizing: border-box;
        ul {
            padding-top: 12px;
            padding-bottom: 48px;
            li {
                a {
                    display: block;
                    padding: 8px 0;
                    text-align: center;
                    box-sizing: border-box;
                    font-size: 16px;
                    line-height: 1.2;
                    letter-spacing: -0.32px;
                    &:hover {
                        font-weight: 500;
                        color: #1428A0;
                    }
                }
            }
        }
    }
}



.right-box {
    display: flex;
    align-items: center;
    gap: 60px;
    height: 100px;
}

.user {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    a {
        font-size: 14px;
        line-height: 1;
    }
}

.util {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn {
    display: inline-block;
}

.btn-search {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/icons/icon_search.svg") center / auto no-repeat;
    font-size: 0;
}

.btn-allmenu {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/icons/icon_allmenu.svg") center / auto no-repeat;
    font-size: 0;
}

.footer {
    height: auto;
    background-color: #fafafa;
    &.sub {
        background-color: #fafafa;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        max-width: 1760px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    &__nav {
        display: flex;
        gap: 40px;
        li {
            a {
                display: block;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: -0.32px;
                color: #111;
            }
        }
    }
    &__top {
        padding: 26px 0;
        border-bottom: 1px solid #ebebeb;
        box-sizing: border-box;
    }
    &__bottom {
        padding: 30px 0 37px;
        box-sizing: border-box;
    }
    &__info {
        > ul {
            display: flex;
            gap: 100px;
        }
    }
    &__tit {
        font-size: 16px;
        font-weight: 600;
        color: #1428A0;
        line-height: 19px;
        letter-spacing: -0.32px;
        white-space: nowrap;
    }
    &__item {
        display: flex;
        gap: 20px;
        ul {
            display: flex;
            li {
                position: relative;
                display: flex;
                flex-direction: column;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: -0.28px;
                color: #666;
                padding: 0 20px;
                &::before {
                    content:'';
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 1px;
                    height: 30px;
                    background-color: #ddd;
                    transform: translateY(-50%);
                }
                &:first-child {
                    padding-left: 0;
                    &::before {
                        display: none;
                    }
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
    &__copyright {
        padding-top: 60px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.28px;
        color: #666;
        box-sizing: border-box;
    }
}

.family-site {
    position: relative;
    button {
        position: relative;
        display: inline-block;
        width: 200px;
        padding: 0 40px 0 20px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: #fff;
        font-size: 14px;
        line-height: 45px;
        letter-spacing: -0.28px;
        text-align: left;
        box-sizing: border-box;
        &::after {
            content:'';
            position: absolute;
            top: 50%;
            right: 20px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url("../images/icons/icon_arrow_blk.svg") center / auto no-repeat;
            transform: translateY(-50%);
            transition: 0.14s ease;
        }
        &.active {
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    ul {
        display: none;
        position: absolute;
        bottom: 50px;
        width: 100%;
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ececec;
        border-radius: 5px;
        box-sizing: border-box;
        li {
            width: 100%;
            border-bottom: 1px solid #ececec;
            &:last-child {
                border-bottom: 0;
            }
            a {
                display: block;
                font-size: 14px;
                color: #666;
                padding: 10px;
                box-sizing: border-box;
            }
        }
    }

    
}

#subLocation {
    .location_box {
        &.active {
            -webkit-box-shadow: 0px 24px 20px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 24px 20px 2px rgba(0, 0, 0, 0.25);
        }
    }
    &::after {
        display: none;
    }
}

// .topbtn {
//     display: none;
//     visibility: hidden;
// }

/*cm_assign */
.assign_wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  overflow: hidden;
  opacity: 0;
}
.assign_wrap .assign_boxc {
  width: 340px;
  opacity: 0;
  background: #fff;
  max-width: 340px;
  min-width: 340px;
  padding: 60px 45px 40px 45px;
}
.assign_wrap .assign_boxc > .tit {
  font-size: 35px;
  color: #222;
  text-align: center;
}
.assign_wrap .assign_boxc .assign_list {
  width: 340px;
  margin: 38px auto 0 auto;
}
.assign_wrap .assign_boxc .assign_list > div > a {
  background: #fff;
  width: 340px;
  border: 1px solid #d6d6d6;
  box-sizing: border-box;
  line-height: 58px;
  text-align: center;
  padding-left: 25px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
.assign_wrap .assign_boxc .assign_list > div > a:before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #439ec3;
  transition: all ease .4s;
}
.assign_wrap .assign_boxc .assign_list > div > a:hover:before, .assign_wrap .assign_boxc .assign_list > div > a:focus:before {
  width: 100%;
  transition: all ease .4s;
  z-index: -1;
}
.assign_wrap .assign_boxc .assign_list > div > a:hover:after, .assign_wrap .assign_boxc .assign_list > div > a:focus:after {
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_arr_on.png);
  transition: all ease .2s;
  transition-delay: .2s;
}
.assign_wrap .assign_boxc .assign_list > div > a:hover span.ico, .assign_wrap .assign_boxc .assign_list > div > a:focus span.ico {
  transition: all ease .2s;
}
.assign_wrap .assign_boxc .assign_list > div > a:hover span.ico:after, .assign_wrap .assign_boxc .assign_list > div > a:focus span.ico:after {
  background: #7cbbd5;
  transition: all ease .2s;
}
.assign_wrap .assign_boxc .assign_list > div > a:hover span.ico.rico1, .assign_wrap .assign_boxc .assign_list > div > a:focus span.ico.rico1 {
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_ico_01_on.png);
}
.assign_wrap .assign_boxc .assign_list > div > a:hover span.ico.rico2, .assign_wrap .assign_boxc .assign_list > div > a:focus span.ico.rico2 {
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_ico_02_on.png);
}
.assign_wrap .assign_boxc .assign_list > div > a:hover span.ico.rico3, .assign_wrap .assign_boxc .assign_list > div > a:focus span.ico.rico3 {
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_ico_03_on.png);
}
.assign_wrap .assign_boxc .assign_list > div > a:hover span.ico.rico4, .assign_wrap .assign_boxc .assign_list > div > a:focus span.ico.rico4 {
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_ico_04_on.png);
}
.assign_wrap .assign_boxc .assign_list > div > a:hover span.ico.rico5, .assign_wrap .assign_boxc .assign_list > div > a:focus span.ico.rico5 {
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_ico_05_on.png);
}
.assign_wrap .assign_boxc .assign_list > div > a:hover span.text, .assign_wrap .assign_boxc .assign_list > div > a:focus span.text {
  color: #fff;
  transition: all ease .2s;
}
.assign_wrap .assign_boxc .assign_list > div > a {
  display: block;
  width: 100%;
  height: 100%;
}
.assign_wrap .assign_boxc .assign_list > div + div {
  margin-top: 20px;
}
.assign_wrap .assign_boxc .assign_list > div > a:after {
  content: "";
  position: absolute;
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_arr.png);
  width: 6px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  right: 20px;
  transition: all ease .2s;
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 50%;
  margin-top: -18px;
  left: 11px;
  transition: all ease .2s;
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  right: -12px;
  background: #d6d6d6;
  top: -2px;
  transition: all ease .2s;
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico.rico1 {
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_ico_01.png);
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico.rico2 {
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_ico_02.png);
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico.rico3 {
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_ico_03.png);
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico.rico4 {
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_ico_04.png);
}
.assign_wrap .assign_boxc .assign_list > div > a span.ico.rico5 {
  background: url(https://samsungstf.org/ssrfPr/images/common/assign_ico_05.png);
}
.assign_wrap .assign_boxc .assign_list > div > a span.text {
  color: #222;
  font-size: 20px;
  transition: all ease .2s;
}

.assign_wrap .assign_boxc .assign_list > div > p {
    position: relative;
    margin-top: 10px;
    padding-left: 10px;
    font-family: "Pretendard", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #444;

    &::before {
        content:'';
        position: absolute;
        top: 7px;
        left: 0;
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #CDCDCD;
    }
}

.assign_wrap .assign_boxc .clsbtn_r {
  width: 25px;
  height: 26px;
  position: absolute;
  top: 0;
  right: -45px;
  background: url(https://samsungstf.org/ssrfPr/images/common/clsbtn_r.png);
  cursor: pointer;
}


