@charset "UTF-8";
@import 'common/base';
@import 'common/font';
@import 'common/variables';
@import 'common/mixin';
@import 'common/media';

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    z-index: 1;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 1800px;
        width: 100%;
        margin:0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
}

.logo {
    display: inline-block;
    height: 101px;
    a {
        display: inline-flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        img {
            width: 178px;
        }
    }
}

.gnb {
    &__list {
        display: flex;
        > li {
            > a {
                display: block;
                padding: 0 51px;
                font-size: 18px;
                font-weight: 500;
                line-height: 101px;
                text-align: center;
                letter-spacing: -0.36px;
                box-sizing: border-box;
            }
            &.active {
                > a {
                    font-weight: 700;
                    color: #1428A0;
                }
            }
        }
    }
}

.depth2 {
    display: none;
    flex: 1;
    padding-bottom: 20px;
    box-sizing: border-box;
    ul {
        li {
            a {
                display: block;
                padding: 15px 0;
                text-align: center;
                box-sizing: border-box;
            }
        }
    }
}

.right-box {
    display: flex;
    align-items: center;
    gap: 60px;
    height: 101px;
}

.user {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    a {
        font-size: 14px;
        line-height: 1;
    }
}

.util {
    display: flex;
    align-items: center;
    gap: 30px;
}

.btn {
    display: inline-block;
}

.btn-search {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/icons/icon_search.svg") center / auto no-repeat;
    font-size: 0;
}

.btn-allmenu {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/icons/icon_allmenu.svg") center / auto no-repeat;
    font-size: 0;
}

.footer {
    height: auto;
    background-color: #fafafa;
    &__inner {
        display: flex;
        justify-content: space-between;
        max-width: 1800px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    &__nav {
        display: flex;
        gap: 40px;
        li {
            a {
                display: block;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: -0.32px;
                color: #111;
            }
        }
    }
    &__top {
        padding: 26px 0;
        box-sizing: border-box;
    }
    &__bottom {
        padding: 30px 0 37px;
        box-sizing: border-box;
    }
    &__info {
        > ul {
            display: flex;
            gap: 100px;
        }
    }
    &__tit {
        font-size: 16px;
        font-weight: 600;
        color: #1428A0;
        line-height: 19px;
        letter-spacing: -0.32px;
        white-space: nowrap;
    }
    &__item {
        display: flex;
        gap: 20px;
        ul {
            display: flex;
            li {
                position: relative;
                display: flex;
                flex-direction: column;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: -0.28px;
                color: #666;
                padding: 0 20px;
                &::before {
                    content:'';
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    width: 1px;
                    height: 30px;
                    background-color: #ddd;
                    transform: translateY(-50%);
                }
                &:first-child {
                    padding-left: 0;
                    &::before {
                        display: none;
                    }
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
    &__copyright {
        padding-top: 60px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.28px;
        color: #666;
        box-sizing: border-box;
    }
}

.family-site {
    position: relative;
    button {
        position: relative;
        display: inline-block;
        width: 200px;
        padding: 0 40px 0 20px;
        border: 1px solid #eee;
        border-radius: 5px;
        background-color: #fff;
        font-size: 14px;
        line-height: 45px;
        letter-spacing: -0.28px;
        text-align: left;
        box-sizing: border-box;
        &::after {
            content:'';
            position: absolute;
            top: 50%;
            right: 20px;
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url("../images/icons/icon_arrow_blk.svg") center / auto no-repeat;
            transform: translateY(-50%);
            transition: 0.14s ease;
        }
        &.active {
            &::after {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    ul {
        display: none;
        position: absolute;
        bottom: 50px;
        width: 100%;
        background-color: #fff;
        border: 1px solid #ececec;
        border-radius: 5px;
        li {
            width: 100%;
            a {
                display: block;
                font-size: 14px;
                color: #666;
                padding: 10px 20px;
                box-sizing: border-box;
            }
        }
    }

    
}