<!DOCTYPE html>
<html lang="ko">
    <%- include('./include/head.html') %>
    <body>
        <div class="wrap">
            <div class="container">
                <%- include('./include/header.html') %>
                <main>
                    <div class="kv-container">
                        <div class="main-kv">
                            <div class="main-kv__inner">
                                <div class="main-kv__view">
                                    <div class="main-kv__slider">
                                        <div class="main-kv__slide">
                                            <img src="../resources/assets/images/main/kv.jpg" alt="" />
                                            <div class="main-kv__content">
                                                <div class="main-kv__title">
                                                    <h3>
                                                        과학기술은 미래를 만들고,<br />
                                                        그 미래는 우리의 내일이 됩니다.
                                                    </h3>
                                                    <h2>한국 과학기술 혁신과 인류 발전을 위한 사회공헌사업</h2>
                                                    <div class="btn-wrap">
                                                        <a href="javascript:;" class="btn btn-default">
                                                            <span class="btn-default__text">Read More</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="main-kv__slide">
                                            <img src="../resources/assets/images/main/kv01.jpg" alt="" />
                                            <div class="main-kv__content">
                                                <div class="main-kv__title">
                                                    <h3>Science 프로그램을<br />소개합니다</h3>
                                                    <div class="btn-wrap">
                                                        <a href="javascript:;" class="btn btn-default">
                                                            <span class="btn-default__text">Read More</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="main-kv__slide">
                                            <img src="../resources/assets/images/main/kv02.jpg" alt="" />
                                            <div class="main-kv__content">
                                                <div class="main-kv__title">
                                                    <h3>Technology 프로그램을<br />소개합니다</h3>
                                                    <div class="btn-wrap">
                                                        <a href="javascript:;" class="btn btn-default">
                                                            <span class="btn-default__text">Read More</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="main-kv__control">
                                        <button class="main-kv__button main-kv__button--prev">이전</button>
                                        <div class="main-kv__index"><strong></strong> / <span></span></div>
                                        <button class="main-kv__button main-kv__button--next">다음</button>
                                    </div>
                                </div>
                                <div class="main-kv__menu">
                                    <div class="main-kv__left">
                                        <div class="card">
                                            <ul class="card__list">
                                                <li class="card__item card__item--01">
                                                    <a href="javascript:;" class="card__inner cm_assignBtn">
                                                        <div class="card__sub">과제응모</div>
                                                        <div class="card__title">
                                                            새로운 미래를 개척할<br />
                                                            연구를 지원합니다
                                                        </div>
                                                        <div class="card__menu">
                                                            <span>View More</span>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li class="card__item card__item--02">
                                                    <a href="javascript:;" class="card__inner">
                                                        <div class="card__sub">주요일정</div>
                                                        <div class="card__title">2024 하반기 일정</div>
                                                        <div class="card__menu">
                                                            <ul>
                                                                <li>
                                                                    <span>과제접수</span>
                                                                    <p>~24. 07. 12(금) 10:00</p>
                                                                </li>
                                                                <li>
                                                                    <span>서면심사 결과 발표</span>
                                                                    <p>24. 07. 26(금)</p>
                                                                </li>
                                                                <li>
                                                                    <span>최종선정 결과 발표</span>
                                                                    <p>24. 10. 11(금)</p>
                                                                </li>
                                                                <li>
                                                                    <span>과제착수</span>
                                                                    <p>24. 12월</p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="main-kv__right">
                                        <!-- <div class="main-kv__count">
                                            <ul>
                                                <li>
                                                    <div class="main-kv__category">연구과제</div>
                                                    <div class="main-kv__number"><strong data-count="785" class="counter-value">0</strong> 건</div>
                                                </li>
                                                <li>
                                                    <div class="main-kv__category">연구비</div>
                                                    <div class="main-kv__number"><strong data-count="10299" class="counter-value">10,299</strong> 억원</div>
                                                </li>
                                            </ul>
                                        </div> -->
                                        <nav class="main-kv__nav">
                                            <ul>
                                                <li>
                                                    <a href="../intro/business.do">
                                                        <div class="main-kv__icon">
                                                            <img src="../resources/assets/images/icons/icon_mail.svg" alt="" />
                                                        </div>
                                                        <div class="main-kv__text">사업소개</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../program/basic.do">
                                                        <div class="main-kv__icon">
                                                            <img src="../resources/assets/images/icons/icon_docs.svg" alt="" />
                                                        </div>
                                                        <div class="main-kv__text">프로그램 소개</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../researcher/listResearcher.do?searchResearchProgram=1|0001">
                                                        <div class="main-kv__icon">
                                                            <img src="../resources/assets/images/icons/icon_apple.svg" alt="" />
                                                        </div>
                                                        <div class="main-kv__text">과제&연구자</div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="../newsroom/listNewsroom.do?searchGubun=A">
                                                        <div class="main-kv__icon">
                                                            <img src="../resources/assets/images/icons/icon_speaker.svg" alt="" />
                                                        </div>
                                                        <div class="main-kv__text">공지사항</div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <%- include('./include/footer.html') %>
            </div>
        </div>
    </body>
</html>
