<!DOCTYPE html>
<html lang="ko">
    <%- include('./include/sub_head.html') %>
    <body>
        <div id="loading" style="display: none">
            <div id="loading_bar">
                <!-- 로딩바의 경로를 img 태그안에 지정해준다. -->
                <img src="https://samsungstf.org/ssrfPr/mobile/images/common/loading-bar.gif" />
            </div>
        </div>

        <!--wrapper.-->
        <div class="wrapper subpage">
            <!--web accessibility -->
            <div id="accessibility">
                <h2 class="invisible">반복영역 건너뛰기</h2>
                <a href="#gnb">메인메뉴 바로가기</a>
                <a href="#contents">본문영역 바로가기</a>
                <a href="#footer">푸터영역 바로가기</a>
            </div>
            <!--web accessibility -->

            <!--header-->
            <%- include('./include/sub_header.html') %>
            <!--//header-->

            <!--inner contents-->
            <div class="wrapper_inner sub">
                <!--sub head-->
                <div class="hdswrap">
                    <div class="hdsgrid">
                        <div class="titwrap vt_align subhds">
                            <h1>사업소개</h1>
                            <p class="titm sok600">사업소개</p>
                            <p class="tits sok400">한국 과학기술 혁신과 인류 발전을 위한 사회공헌사업! <br />과학기술은 미래를 만들고, 그 미래는 우리의 내일이 됩니다.</p>
                        </div>
                    </div>

                    <div class="object_grid">
                        <div class="inner active" style="background-image: url('https://www.samsungstf.org/webfile2/subvisual/202001071315201__hd_bg01.jpg')"></div>
                    </div>
                </div>
                <!--//sub head-->

                <div id="subLocation" class="">
                    <div class="location_box">
                        <ul class="location_list">
                            <li class="home"><a href="/ssrfPr/main/main.do">main page</a></li>

                            <li class="depth1">
                                <button type="button" class="sok400">사업소개</button>

                                <ul class="under_depth sok400">
                                    <li><a href="../intro/business.do" class="active">사업소개</a></li>
                                    <li><a href="../program/basic.do">공모분야/과제응모</a></li>
                                    <li><a href="../researcher/listResearcher.do">선정과제</a></li>
                                    <li><a href="../newsroom/listNewsroom.do?searchGubun=A">공지사항</a></li>
                                </ul>
                            </li>

                            <li class="depth2">
                                <button type="button" class="sok400">사회공헌사업</button>

                                <ul class="under_depth sok400">
                                    <li><a href="../intro/business.do" class="active">사회공헌사업</a></li>
                                    <li><a href="../intro/message.do">인사말 &amp; 운영</a></li>
                                    <!-- <li><a href="../intro/status.do">지원 현황</a></li> -->
                                    <li><a href="../intro/listFaq.do">FAQ·문의</a></li>
                                    <li><a href="../cm/map01.do">찾아오시는길</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="content_wrap intro bg_gray bg">
                    <div class="intro_box bx1 intro_corp">
                        <div class="obj_intro_bg_01 moveObj_sub1"></div>
                        <div class="obj_intro_bg_02 moveObj_sub1"></div>
                        <div class="tit sok600 motion active">더 나은 미래 사회를 위한<br />지속가능경영과 사회공헌</div>
                        <div class="article sok400">
                            <p class="impact motion active">"인재와 기술을 바탕으로 최고의 제품과 서비스를 창출하여 인류사회에 공헌"하는 것이 삼성전자가 추구하는 경영철학이자 궁극적인 목표입니다.</p>

                            <p class="motion active">
                                삼성전자는 국가 경제‧산업의 중요한 기능을 담당하는 기업이자 시민사회의 일원으로서, 혁신적인 제품과 서비스를 제공하여 경제적‧사회적‧환경적 가치를 창출하고 더 밝고 희망적인 사회를 만들기 위해 지속가능경영 실천과 다양한 사회공헌 활동을 하고 있습니다.
                            </p>

                            <ul class="more_view_contetnt">
                                <li class="motion">
                                    <a href="https://www.samsung.com/sec/aboutsamsung/sustainability/strategy/" target="blank">
                                        <div class="textbox">
                                            <span class="titx sok500">삼성전자<br />지속가능경영</span><br />
                                            <span class="subtx sok400">더 알아보기</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="motion">
                                    <a href="http://csr.samsung.com/" target="blank">
                                        <div class="textbox">
                                            <span class="titx sok500">삼성전자<br />사회공헌 </span><br />
                                            <span class="subtx sok400">더 알아보기</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="thumbimg_box">
                            <i><img class="motion" src="https://samsungstf.org/ssrfPr/images/sub/intro_img_01.png" alt="미래가치창출" /></i>
                            <i><img class="motion" src="https://samsungstf.org/ssrfPr/images/sub/intro_img_02.png" alt="미래가치창출" /></i>
                        </div>
                        <div class="article fullwidth sok400">
                            <p class="ct_tit motion">‘삼성미래기술육성사업’, 대한민국 과학기술 혁신을 위한 사회공헌사업</p>
                            <p class="motion">
                                ‘삼성미래기술육성사업’은 대한민국의 기초과학 발전과 산업기술 혁신, 과학기술로 사회가 직면한 문제 해결, 그리고 세계적인 과학기술인 육성을 목표로, 삼성전자가 2013년부터 1조 5천억 원을 출연하여 시행하고 있는 순수 공익 목적의 과학기술 연구지원 사업입니다.
                            </p>

                            <p class="motion">과학기술의 원천인 기초과학 분야, 제조업의 근간인 소재기술 분야, 그리고 산업 고도화와 신시장 창출을 이끌 ICT(Information and Communications Technologies, 정보통신기술) 및 융합 분야에서 창의적인 프런티어 연구를 지원하고 있습니다.</p>

                            <p class="motion">
                                체계적이고 지속적인 연구지원 사업을 수행하기 위해설립된 공익법인 ‘삼성미래기술육성재단’과 삼성전자 내 '미래기술육성센터'는 혁신적인 연구과제와 연구자를 발굴하여 연구비를 지원하고, 더불어 연구자가 맘껏 연구하며 성공적인 과제수행을 할 수 있도록 연구자 중심의
                                지원시스템을 운영하고 있습니다. 또한, 한국 과학기술계 전반에 걸쳐 창의적이고 도전적인 연구가 부흥하고 이를 뒷받침해 줄 연구지원시스템이 발전할 수 있도록 새로운 연구문화 확산과 정착에도 노력하고 있습니다. 이러한 국가 차원의 과학기술 혁신을 위한 기부와 일련의 연구지원
                                활동은, 민간기업으로서 국내 최초이자 세계적으로 찾아보기 어려운 사례입니다.
                            </p>
                        </div>
                    </div>

                    <div class="intro_sec corp01">
                        <div class="inner">
                            <div class="tit sok600 motion">더 나은 미래사회 구현, 국가 경쟁력과 국민의 삶의 질 향상에 기여</div>
                            <i class="info_img motion"><img src="https://samsungstf.org/ssrfPr/images/sub/intro_dc_img.png" alt="" /></i>
                            <div class="prg_cx">
                                <p class="shp700 int_tit motion">프로그램</p>
                                <p class="desc_txt sok400 motion">
                                    <span>보다 높은 가치를 지향하는 창의적·도전적인 프론티어 연구 지원 </span>
                                    <span>연구자 중심의 연구 지원 체계</span>
                                </p>
                                <ul class="prg_box">
                                    <li>
                                        <i class="ico motion"></i>
                                        <p class="prg_tit sok400 motion">기초과학</p>
                                        <p class="prg_desc motion">“과학기술의 원천”<br />새로운 과학기술 개척</p>
                                    </li>

                                    <li>
                                        <i class="ico motion"></i>
                                        <p class="prg_tit sok400 motion">소재</p>
                                        <p class="prg_desc motion">“제조업의 근간”<br />신소재 ‧ 소재역량 개발</p>
                                    </li>
                                    <li>
                                        <i class="ico motion"></i>
                                        <p class="prg_tit sok400 motion">ICT</p>
                                        <p class="prg_desc motion">“산업 고도화와 신시장 기회”<br />신기술 ‧ 제품 ‧ 서비스 창출</p>
                                    </li>
                                </ul>
                            </div>

                            <div class="prg_lead motion">
                                <div class="leadbox sok400">삼성미래기술육성재단</div>
                                <div class="leadbox sok400">삼성전자 미래기술육성센터</div>
                            </div>

                            <div class="leadbox_desctxt motion">※ 삼성의 비즈니스 부문과 별개의 조직으로 독립적 운영</div>

                            <!-- <div class="prg_from_sec sok600 motion">삼성전자, 1조 5천억 원 출연</div> -->
                        </div>
                    </div>

                    <!-- <div class="intro_sec corp02">
          <div class="inner">
            <div class="obj_corp_bg_01"></div>
            <div class="obj_corp_bg_02"></div>
            <div class="mv_box motion">
              <div class="obj_mv objMoveTypeA2"></div>
              <div class="thumbimg" id ="playMv"><img src="../images/sub/mv_img.png" alt=""></div>
              <iframe id="video" src="//www.youtube.com/embed/TbOn2KQb9Y4?enablejsapi=1&html5=1&mute=1&start=95" allowfullscreen></iframe>


            </div>


          </div>
        </div> -->

                    <div class="intro_sec corp03 active box2">
                        <div class="inner">
                            <div class="tit wh sok600 motion">창의와 도전의 새로운 연구문화</div>
                            <ul class="corp_info_c">
                                <li data-rel="1" class="motion">
                                    <p class="tit"><span class="shp700">01</span>혁신적인 연구를<br />격려ㆍ촉진</p>
                                    <div class="desc sok400">
                                        <p>·&nbsp;독창적, 가치지향적, 도전적, 모험적 연구 지원</p>
                                        <p>·&nbsp;긍정적 시각에서 심사</p>
                                        <p>·&nbsp;모든 연구 성과물은 연구자(소속기관) 소유</p>
                                    </div>
                                </li>
                                <li data-rel="2" class="motion on">
                                    <p class="tit"><span class="shp700">02</span>연구자를<br />신뢰 · 존중</p>
                                    <div class="desc sok400">
                                        <p>
                                            ·&nbsp;연구자가 연구 주제‧목표‧계획‧예산을<br />
                                            &nbsp;&nbsp;자율적으로 제안
                                        </p>
                                        <p>·&nbsp;연구자의 자율과 책임 아래 연구과제 수행</p>
                                        <p>
                                            ·&nbsp;학계와 연구자의 의견을 지속적으로 수렴하며<br />
                                            &nbsp;&nbsp;사업 운영
                                        </p>
                                    </div>
                                </li>
                                <li data-rel="3" class="motion">
                                    <p class="tit"><span class="shp700">03</span>공정하고<br />전문적인 심사</p>
                                    <div class="desc sok400">
                                        <p>·&nbsp;제안 내용으로만 평가</p>
                                        <p class="min_t">&nbsp;&nbsp;(인맥과 분야 이기주의 타파, 과거 연구실적 무관)</p>
                                        <p>·&nbsp;절대평가 방식 적용</p>
                                        <p class="min_t">&nbsp;&nbsp;(사업의 취지와 기준에 부합하는 과제만 선정)</p>
                                        <p>
                                            ·&nbsp;전문가 패널에 의한 토론 중심 평가,<br />
                                            &nbsp;&nbsp;국‧내외 심사 병행 실시
                                        </p>
                                    </div>
                                </li>
                                <li data-rel="4" class="motion">
                                    <p class="tit">
                                        <span class="shp700">04</span>연구전념<br />
                                        환경 제공
                                    </p>
                                    <div class="desc sok400">
                                        <p>·&nbsp;장기적 연구 지원</p>
                                        <p>·&nbsp;유연한 연구 운영</p>
                                        <p>·&nbsp;형식과 절차적 행정업무 간소화</p>
                                    </div>
                                </li>
                                <li data-rel="5" class="motion">
                                    <p class="tit"><span class="shp700">05</span>연구 성공을 위한<br />입체적 지원</p>
                                    <div class="desc sok400">
                                        <p>·&nbsp;글로벌 연구 네트워킹 지원</p>
                                        <p>·&nbsp;산업계 연구 교류, 특허 발굴‧확보, 사업화 지원</p>
                                        <p>·&nbsp;연구자와 활발한 커뮤니케이션</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--//inner contents-->
        </div>
        <!--wrapper.-->

        <!--If you use the script on this page, please put it here -->
        <script>
            //init event
            $('.bx1 .tit').addClass('active');
            $('.article > p:eq(0)').addClass('active');
            $('.article > p:eq(1)').addClass('active');

            // $(".more_view_contetnt li").hover(function () {
            //     TweenMax.to( $(this), 0.3, {
            //       'border' : '1px solid #1428a0',
            //       delay : 0,
            //       ease : Power2.easeOut
            //   });

            // });

            // global variable for the player
            var player;
            var videoId = 'TbOn2KQb9Y4';
            var startSeconds = 95;
            // this function gets called when API is ready to use
            function onYouTubePlayerAPIReady() {
                // create the global player from the specific iframe (#video)
                player = new YT.Player('video', {
                    playerVars: {
                        start: 95,
                        mute: 1,
                    },
                    events: {
                        // call this function when player is ready to use
                        onReady: onPlayerReady,
                        onStateChange: onStateChange,
                    },
                });
            }

            function onPlayerReady(event) {
                // bind events
                var playButton = document.getElementById('playMv');
                playButton.addEventListener('click', function () {
                    //$("#video")[0].src += "?autoplay=1"
                    $(this).addClass('active');
                    $(this).siblings('iframe').addClass('active');

                    player.playVideo(); //재생
                });
            }

            function onStateChange(state) {
                // bind events

                console.log('asdfasd222f');

                if (state.data === YT.PlayerState.ENDED) {
                    player.loadVideoById({
                        videoId: videoId,
                        startSeconds: startSeconds,
                        endSeconds: 150,
                    });
                }
            }

            // Inject YouTube API script
            var tag = document.createElement('script');
            tag.src = '//www.youtube.com/player_api';
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            $(document).ready(function () {
                var $corpIcBtn = $('.corp_info_c li');
                var $corpIcBg = $('.intro_sec.corp03');

                $corpIcBtn.mouseenter(function () {
                    var _$this = $(this);
                    var idx = $(this).data('rel');
                    var idxBg = 'box' + idx;
                    //console.log(idxBg)

                    $corpIcBg.removeClass('box1 box2 box3 box4 box5').addClass(idxBg);
                    $corpIcBtn.removeClass('on');
                    _$this.addClass('on');
                });
            });
        </script>
        <!--//-->

        <%- include('./include/sub_footer.html') %>
        <script src="https://samsungstf.org/ssrfPr/js/function.js"></script>
        <script src="https://samsungstf.org/ssrfPr/js/common.js"></script>
        <!-- <script src="../resources/assets/script/common1.js"></script> -->
        <div class="dimmed"></div>
    </body>
</html>
